/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-image: url('background.jpg');
    background-size : cover;
    background-repeat: repeat-x;
    animation: move-bg 50s linear infinite;
}

.container {
    display: flex;
    height: 100%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.center {
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgb(77, 77, 77);
    /* border: 2px solid black; */
    color: rgb(255, 252, 242);
}

.welcome-text{
    position: absolute;
    animation: fadeInOut 3s ease-in forwards;

}

.intro{
    opacity: 0;
    position: absolute;
    animation: fadeIn 4s ease-in-out forwards;
    animation-delay: 3s;
}

.enter-button {
    position: relative;
    top: 20%;
    box-shadow: 1px 2px 1px  lightblue;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: #0288d1;
    font-weight: 500;
    font-size: 15px;
    color: white;
    transform: scale(1);
    transition: 0.1s;
    
    /* box-shadow: 0px 0px 3px 1px; */
    /* animation: fadeIn 1s ease-in forwards; */
}

.enter-button:hover {
    transform: scale(1.1);
    transition: 0.2s;
    /* cursor: pointer; */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes move-bg {
    to {
        background-position-x: calc(100vh * (-7000 / 2627) * 2);
    }
}


@media (max-width: 800px) {
    .welcome-text {
        font-size: 2em;
        /* border: 1px solid black; */
        /* padding-bottom: env(safe-area-inset-bottom); */
}
    
    .intro {
        margin-left : 13vw;
        margin-right : 13vw;
        /* border: 1px solid black; */
        font-size: 1.3em;
    }

    .enter-button{
        background-color: rgba(37, 173, 173, 0.625);
    }
    
}