@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");            

* {
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(67, 79, 133);
    padding: 30px 30px;
}   

li {
    padding : 8px 12px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    margin: 10px;

    font-size: 15px;
    text-decoration: none;
    color : white;
    list-style : none;
}

.navbar-menu li :hover {
    background-color: blanchedalmond;
    border-radius: 4px;
}

.navbar-logo {
    height: 100%;
    width: 100%;
    display: flex;
}

.navbar-logo img{
    width: 13%; 
    margin-right: 5px;
    margin-left: 10px;
}
.navbar-logo a{
    text-decoration: none;
    color: inherit;
}

.navbar-logo h1{
    color: azure;
}

.navbar-btn { 
    display: none;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    /* border: 5px solid black; */
    margin : 2vh;

    height : calc(100vh - 60px - 12vh);
    
}

.intro{
    /* border: 2px solid black; */
    width: 50%;
    padding: 5%;
}

.intro p{
    display: flex;
    /* border: 1px solid black; */
    font-size: 1.2em;
    font-weight: 500;
    line-height: 130%;
}

.intro h1{
    display: flex;
    font-size: 2.3em;
    color: black;
    text-shadow: 1px 1px gray;
    /* border: 3px solid black; */
    margin-bottom: 10px;
}

.main-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height : calc(100vh - 60px - 12vh);

    /* border: 2px solid black; */
}

.main-photos img {
    display: flex;
    text-align: center;
    height: 90%;
    max-width: 100%;
}

@media (min-width:768px) and (max-width:1023px) { 

} 

@media (min-width:350px) and (max-width:767px) {    

    .navbar-logo{
        display: flex;
        position: sticky;
        justify-content: center;
        padding-top: 1px;
        padding-bottom: 1px;
        margin: 0px;
    }

    .navbar-logo img{
        margin: 0;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        background-color: rgb(67, 79, 133);
    }

    .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navbar-menu.active{
        display: block;
    }


    .navbar-btn {
        display: block;
        position: absolute;
        color: aliceblue;
        
        height: 100%;
        right: 20px;
    }

    .title h1{
        border: 1px solid rgb(51, 42, 94);
    }
    

}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media (max-width:349px) {

}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
