@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");            

* {
    font-family: 'Pretendard';
    
}


.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 5px solid black; */
    margin : 2vh;

    height : calc(100vh - 60px - 12vh);
    
}

.intro{
    /* border: 2px solid black; */
    width: 50%;
    padding: 5%;
}

.intro p{
    display: flex;
    /* border: 1px solid black; */
    font-size: 1.2em;
    font-weight: 500;
    line-height: 130%;
}

.intro h1{
    display: flex;
    font-size: 2.3em;
    color: black;
    text-shadow: 1px 1px gray;
    /* border: 3px solid black; */
    margin-bottom: 10px;
}

.main-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height : calc(100vh - 60px - 12vh);

    /* border: 2px solid black; */
}

.main-photos img {
    display: flex;
    text-align: center;
    height: 90%;
    max-width: 100%;
    margin: 5%
    animation
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width:350px) and (max-width:767px) {    
    .intro h1{
        font-size : 1.3em;
    }
    
    .paragraph{
        font-size: 0.8em;
    }
}